h1 {
    color: pink;
    text-align: center;
}
img {
  float: left;
}
.dialog { 
  color: lightcyan;
}
.mage { 
 margin: 0px 10px 0px 0px;
 width: 700px;
 height: 700px;
}
.nav { 
 background-color: #86cecb;
 margin: 10px 10px 10px 10px;
 border: 5px;
 border-radius: 15px;
 display: flex;
}
.navbutton {
  color: #373b3e;
  margin: 15px; 
}
body {
  background-color: #373b3e;
}
.title {
  margin: 15px;
  color: #373b3e;
}
.greetings {
  color: #86cecb;
  text-align: center;
}
.nextButton {
  background-color: #137a7f;
  color: white;
  margin-left: 705px;
  max-width: 55px;
  border: 5px;
  border-radius: 3px;  
}
.hidden {
  display: none;
}
.nextHover:hover {
  background-color: #137a7f;
}
.money {
  color: yellow;
}
